body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6e5e5;
    overflow-x: hidden;
}
#logo{
    font-size: 1.5em;
    text-decoration: none;
    color: inherit;
}
header {
    background-color: #333;
    color: #fff;
    padding-top: 1px;
    padding-bottom: 1em;
    text-align: center;
}
#logoimg{
    width: 15em;
}
.menu-toggle {
    display: none;
}
.hamburger {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 999;
    width: 30px;
    height: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.hamburger div {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: transform 0.3s ease-in-out;
}
.hamburger.active div:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active div:nth-child(2) {
    opacity: 0;
}
.hamburger.active div:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
#sidebar {
    width: 230px;
    background-color: #333;
    padding: 15px;
    color: #fff;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-200px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#sidebar.active {
    transform: translateX(0);
}
#sidebar h2 {
    color: #fff;
    font-size: 1.2em;
    margin-top: 0;
    margin-left: 2em;;
}
#sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#sidebar ul li {
    margin: 10px 0;
}
#sidebar ul li a {
    color: #fff;
    text-decoration: none;
}
#sidebar ul li a:hover {
    text-decoration: underline;
}
#enfoque{
    padding-bottom: 2em;
}
.content {
    transition: margin-left 0.3s ease-in-out;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 25em;
    margin-right: 25em;
    margin-top: 2em;
}
.content a{
    text-decoration: none;
    color: black;
}
#imagenes{
    background-color: #e4e4e4;
}

#imagenes a{
    text-decoration: none;
    color: black;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 2em;
}
h1{
    font-size: 2em;
}
#imgfooter{
    width: 3em;
    padding: 0;
    margin: 0;
}
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
    .hamburger {
        display: block;
    }
    #sidebar {
        width: 80%;
        transform: translateX(-100%);
    }
    #sidebar.active {
        transform: translateX(0);
    }
    .content {
        margin-left: 0;
        padding: 20px;
    }
    .content.active {
        margin-left: 80%;
    }
}
.footer {
    display: flex;
    justify-content:center;
    background-color: #333;
    padding: 20px;
    color: white;
    
}
#footerenf{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.column {
    flex: 0 0 20%;
}
.column h3 {
    margin-bottom: 10px;
}
.column ul {
    list-style-type: none;
    padding: 0;
}
.column ul li {
    margin-bottom: 10px;
}